
/*Defines the box model to use*/
*{
	box-sizing: border-box;
}


/*Sets the background image of the page*/
body{
	background-image: url("../images/background.png");
}

/*style for the Header section*/
.hdr{
  width: 100%;
  height: 100px;
  background-color: #ffffff;
}

.hdrbdr{
	border-bottom: 2px solid #cccccc;
}

.hfnt{
	font-family: Georgia, Times, 'Times New Roman', serif;
	font-size: 24px;
	font-weight: bold;
	color: #4aaaa5;
	padding: 20px 0 20px 0;
}

.hdrcontainer{
	display: flex;
	flex-flow: row wrap;
	width: 960px;
	margin: 0 auto;
}

/*style for the Name block*/
.nam{
  display: inline-flex;
  justify-content: flex-start;
  width: 650px;
  height: 98px;
 }

.n1{
  background-color: #4aaaa5;
  height: 98px;
  /*margin-left: 290px;*/
 }

.nmfntprp{
	color: #ffffff;
	padding: 30px;
	text-decoration: none;
}


/*style for the Navigation block*/	

.lnks{
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 270px;
  margin-left: 30px;
}

.navlnk{
	padding: 0 10px 0 10px;
	color: #a5a5a5;
	text-decoration: none;
	font-weight: bold;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.navlnk:hover {
	text-decoration: underline;
}

.navbdr{
	border-right: 1px solid #cccccc;
}

/*style for the content section*/
.container {
	display: flex;
  	flex-flow: row wrap;
  	justify-content: flex-start;
	width: 960px;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	line-height: 150%;
	color: #777777;
	margin: 0 auto;
	margin-bottom: 100px;
	overflow: auto;
}

.cntbk{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	background-color: #ffffff;
	width: 650px;
	border: 1px solid #cccccc;
	margin-top: 40px;
}

/*style for the Portfolio block*/
.prtf{
	display: flex;
	flex-wrap: wrap;
	width: 90%;
}

.myimg {
	margin: 20px;
}

.imgpos{
	position: relative;
}

.ovrltxtpos{
	position: absolute;
	bottom: 35px;
	left: 0;
	margin-left: 20px;
}

.ovrltxtprp{
	width: 250px;
	height: 50px;
	background-color: #4aaaa5;
	color: #ffffff;
	font-family: Georgia, Times, 'Times New Roman', serif;
	font-weight: bold;
	text-align: center;
	padding: 10px 0 10px 0;
}


/*style for the Contact block*/
.cnctme{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	background-color: #ffffff;
	width: 270px;
	height: 170px;
	border: 1px solid #cccccc;
	margin-top: 40px;
	margin-left: 40px;
	padding: 20px;
}

.cncthdr{
	width: 90%;
	font-family: Georgia, Times, 'Times New Roman', serif;
	font-size: 20px;
	font-weight: bold;
	color: #4aaaa5;
	padding: 0 15px 10px 15px;
}

.cncticon{
	width: 50px;
	height: 50px;
	margin-top: 20px;
}


/*style for the Footer section*/
.ftr{
	clear: both;
	position: fixed;
    left: 0;
    bottom: 0;
    height: 70px;
    width: 100%;
    background-color: #666666;
    color: #bdbdb1;
    border-top: 5px solid #4aaaa5;
}

.ftrfnt{
	font-family: arial;
    font-size: 80%;
    text-align: center;
    padding-top: 20px;
}


/*Media queries for width 980px*/

@media screen and (max-width:980px) and (min-width:769px)
{	
	/*changes to Header & Container section*/

	.container, .hdrcontainer{
		width: 900px;
	}

	.nam{
		width: 60%;
	}

	/*changes to Portfolio section*/
	
	.prtf{
	display: flex;
	flex-direction: column;
	align-items: center;
	}

	.cntbk{
		width: 60%;
	}

	
}

@media screen and (max-width:768px) and (min-width:641px) 
{

	/*changes to Header & Container section*/

	.container, .hdrcontainer{
		width: 700px;
	}

	.nam{
		width: 55%;
	}

	.container{
		font-size: 1.1em;
	}

	

	/*changes to Portfolio section*/

	.cntbk{
		width: 100%;
		margin-top: 20px;
	}

	/*changes to Contact section*/

	.cnctme{
		width: 100%;
		margin-left: 0px;
		justify-content: flex-start;
	}

	.cncthdr{
		width: 100%;
	}

	.cnctlnk{
		padding: 10px;
	}

}

@media screen and (max-width:640px) 
{
	/*changes to Header section*/

	.hdrcontainer, .hdr{
		width: 640px;		
	}

	
	.nam{
		height: 50px;
	}

	.n1{
		width: 100%;
		height: 50px;
		text-align: center;
		padding-top: 10px;
	}

	.lnks{
		width: 100%;
		justify-content: center;
		margin-top: 10px;				
	}

	.navlnk{
		padding:0 40px 0 40px;
	}

	/*changes to Container section*/

	.container{
		width: 600px;
		font-size: 1.2em;
		margin-left: 3%;
	}


	/*changes to Portfolio section*/

	.cntbk{
		width: 100%;
		margin-top: 20px;
	}

	.prtf{
	display: flex;
	flex-direction: column;
	align-items: center;
	}
	
	/*changes to Contact Block*/
	.cnctme{
		width: 100%;
		margin-left: 0px;
		justify-content: flex-start;
	}

	.cncthdr{
		width: 100%;
	}

	.cnctlnk{
		padding: 10px;
	}

	/*changes to Footer Block*/
	.ftr{
		height: 60px;
	}
}